@import url('https://fonts.cdnfonts.com/css/digital-numbers');

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock-outer-border {
    border: 4px solid;
    border-image: linear-gradient(to right, #f48fb1, #ffcc80) 1;
    border: 4px solid #f48fb1; 
    border-radius: 45px;
    padding: 50px 80px;
    position: relative;
    text-align: center;
}

#time-text {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 130px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffcc80 20%, #f48fb1 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ampm-text {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 30px;
    color: #f48fb1;
    margin-left: 10px;
    vertical-align: bottom;
    padding-bottom: 20px;
}

.channel-name {
    color: white;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 4px;
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black; 
    padding: 0 10px;
}